@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "cormorant-regular";
  src: url("../fonts/Cormorant-Regular.ttf");
}

@font-face {
  font-family: "lora-regular";
  src: url("../fonts/Lora-Regular.ttf");
}
